{% extends "_base.twig" %}

{% block content %}
    <h1>ここはログインページ</h1>
    <form action="{{ vp.attemptLoginUrl }}" method="POST">
        {{ vp.presentCsrfTokenView | raw }}
        <input type="password" name="{{ vp.passwordFormName }}"/>
        <button type="submit">ログイン</button>
    </form>
{% endblock %}